<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <servlet>
    <servlet-name>servletConfigDemo1</servlet-name>
    <servlet-class>servletReviewDemo1.servletConfigDemo1</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>clam</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo1</servlet-name>
    <servlet-class>servletReviewDemo1.servletContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo2</servlet-name>
    <servlet-class>servletReviewDemo1.servletContextDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo3</servlet-name>
    <servlet-class>servletReviewDemo1.servletContextDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo4</servlet-name>
    <servlet-class>servletReviewDemo1.servletContextDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo5</servlet-name>
    <servlet-class>servletReviewDemo1.servletContextDemo5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo6</servlet-name>
    <servlet-class>servletReviewDemo1.servletContextDemo6</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>servletContextDemo1</servlet-name>
    <url-pattern>/contextdemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo2</servlet-name>
    <url-pattern>/contextdemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo3</servlet-name>
    <url-pattern>/contextdemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo4</servlet-name>
    <url-pattern>/contextdemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo5</servlet-name>
    <url-pattern>/contextdemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo6</servlet-name>
    <url-pattern>/contextdemo6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletConfigDemo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
</web-app>